/**
 * B2G Tablet Shell Stylesheet.
*/

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 10px;
}

body {
  font-family: Helvetica, Sans-serif;
  background-color: #000;
  background-image: radial-gradient(closest-side, #434343 0%, #000 100%);
  display: flex;
  flex-direction: column;
}

/* Prevent dotted outlines on buttons */
button::-moz-focus-inner {
  border: 0;
}

.hidden {
  display: none;
}

/* Status Bar */
#status-bar {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 2.4rem;
  margin: 0;
  padding: 0;
  color: #fff;
  /* background-color: #333;*/
}

#clock {
  font-size: 1.1rem;
  line-height: 2.4rem;
  padding: 0 1rem;
}

#system-toolbar {
  height: 3.2rem;
  padding: 0;
  margin: 0;
  text-align: center;
  /* background-color: #333;*/
}

#system-toolbar button {
  height: 1.6rem;
  width: 1.6rem;
  background: none;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0.8rem 5rem;
  box-sizing: content-box;
}

#system-toolbar #back-button {
  background-image: url('../images/back-light.png');
}

#system-toolbar #home-button {
  background-image: url('../images/home-light.png');
}

#system-toolbar #windows-button {
  background-image: url('../images/windows-light.png');
}

#home-screen {
  flex: 1;
  text-align: center;
}

#home-screen #search-bar {
  color: #ccc;
  background-color: rgba(255, 255, 255, 0.15);
  height: 3.2rem;
  font-size: 1.2rem;
  border: none;
  text-align: center;
  margin: 2rem;
  width: 90%;
  border-radius: 0;
}

/* Windows */
#windows {
  flex: 1;
  background-color: #000;
}

#windows.task-manager {
  display: flex;
  flex-direction: column;
  transform: scaleX(0.9) scaleY(0.9);
  overflow: scroll;
}

.browser-window {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

#windows.task-manager .browser-window {
  flex: 1;
  display: flex;
  margin-top: 1rem;
}

.browser-window.hidden {
  display: none;
}

.browser-chrome {
  display: flex;
  flex-direction: row;
  height: 4.2rem;
  margin: 0;
  padding: 0 0 0 0.8rem;
  box-sizing: border-box;
}

#windows.task-manager .browser-chrome {
  background-color: #333;
  padding: 0.5rem 0 0 0.8rem;
}


#windows.task-manager .browser-chrome input {
  background-color: transparent;
}

.browser-chrome form {
  flex: 1;
  height: 3.2rem;
  border: none;
  margin: 0;
  padding: 0;
}

.browser-chrome input {
  width: 100%;
  height: 3.2rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.15);
  color: #999;
  text-align: center;
  padding: 0 1rem;
  box-sizing: border-box;
  border-radius: 0;
}

.browser-chrome input:focus {
  color: #fff;
  text-align: left;
}

.browser-chrome input:invalid {
  box-shadow: none;
}

.browser-chrome button {
  height: 3.2rem;
  width: 4.2rem;
  background: none;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin: 0;
}

.browser-chrome button.menu-button {
    background-image: url('../images/menu-light.png');
}

.browser-chrome button.close-button {
    background-image: url('../images/close-light.png');
    display: none;
}

#windows.task-manager .browser-chrome button.menu-button {
  display: none;
}

#windows.task-manager .browser-chrome button.close-button {
  display: block;
}

.browser-window iframe {
  flex: 1;
  width: 100%;
  border: none;
  background-color: #fff;
}


